<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.purefun.fams.ace.dao.AceApcCashStatementMapper">
  <resultMap id="BaseResultMap" type="com.purefun.fams.ace.oms.AceApcCashStatementBO">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="account" jdbcType="VARCHAR" property="account" />
    <result column="currency" jdbcType="VARCHAR" property="currency" />
    <result column="change_type" jdbcType="VARCHAR" property="changeType" />
    <result column="change_amount" jdbcType="DECIMAL" property="changeAmount" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, account, currency, change_type, change_amount, modify_time, create_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ace_apc_cash_statement
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from ace_apc_cash_statement
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.purefun.fams.ace.oms.AceApcCashStatementBO">
    insert into ace_apc_cash_statement (id, account, currency, 
      change_type, change_amount, modify_time, 
      create_time)
    values (#{id,jdbcType=BIGINT}, #{account,jdbcType=VARCHAR}, #{currency,jdbcType=VARCHAR}, 
      #{changeType,jdbcType=VARCHAR}, #{changeAmount,jdbcType=DECIMAL}, #{modifyTime,jdbcType=TIMESTAMP}, 
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.purefun.fams.ace.oms.AceApcCashStatementBO">
    insert into ace_apc_cash_statement
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="account != null">
        account,
      </if>
      <if test="currency != null">
        currency,
      </if>
      <if test="changeType != null">
        change_type,
      </if>
      <if test="changeAmount != null">
        change_amount,
      </if>
      <if test="modifyTime != null">
        modify_time,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="account != null">
        #{account,jdbcType=VARCHAR},
      </if>
      <if test="currency != null">
        #{currency,jdbcType=VARCHAR},
      </if>
      <if test="changeType != null">
        #{changeType,jdbcType=VARCHAR},
      </if>
      <if test="changeAmount != null">
        #{changeAmount,jdbcType=DECIMAL},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.purefun.fams.ace.oms.AceApcCashStatementBO">
    update ace_apc_cash_statement
    <set>
      <if test="account != null">
        account = #{account,jdbcType=VARCHAR},
      </if>
      <if test="currency != null">
        currency = #{currency,jdbcType=VARCHAR},
      </if>
      <if test="changeType != null">
        change_type = #{changeType,jdbcType=VARCHAR},
      </if>
      <if test="changeAmount != null">
        change_amount = #{changeAmount,jdbcType=DECIMAL},
      </if>
      <if test="modifyTime != null">
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.purefun.fams.ace.oms.AceApcCashStatementBO">
    update ace_apc_cash_statement
    set account = #{account,jdbcType=VARCHAR},
      currency = #{currency,jdbcType=VARCHAR},
      change_type = #{changeType,jdbcType=VARCHAR},
      change_amount = #{changeAmount,jdbcType=DECIMAL},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>